@page
@model JWTExample.Pages.IndexModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
</head>
<body>

    <h3>Login Form</h3>
    <br /><br />
    <div id="msg">@Model.Message</div>
    <br /><br />
    <form method="post">
        <table>
            <tr>
                <td>Username</td>
                <td><input id="userName" type="text" /></td>
            </tr>
            <tr>
                <td>Password</td>
                <td><input id="password" type="password" /></td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td><button id="login" asp-page-handler="Login" type="submit">Login</button></td>
            </tr>
        </table>
    </form>

</body>

</html>
